@keyframes slide-out {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -200%;
    }
}

.slide-out {
    animation-name: slide-out;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {
        left: 125%
    }
    to {
        left: 25%
    }
}

.slide-in {
    animation-name: slide-in;
    animation-duration: 0.8s;
}