@font-face {
    font-family: "Ubuntu Mono";
    src: url(/fonts/UbuntuMono-Regular.ttf);
}

@font-face {
    font-family: "Noto Serif";
    src: url(/fonts/NotoSerif-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Chocolate Classical Sans";
    src: url(/fonts/ChocolateClassicalSans-Regular.ttf);
}

html {
    height: 100%;
}

body {
    background-color: beige;
    font-family: 'Chocolate Classical Sans', sans-serif;
    font-size: 1.8em;
    line-height: 1.7;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media all and (max-width: 1024px) {
    body {
        font-size: 3em;
    }
}

:hover {
    cursor: default;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.vertical input {
    margin-bottom: 1.5em;
}

.center {
    margin: auto;
    vertical-align: middle;
    width: 50%;
}

@media all and (max-width: 1024px) {
    .center {
        width: 80%;
    }
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.spread {
    display: flex;
    justify-content: space-between;
    gap: 0.3em;
    padding: 0.3em;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

a:visited {
    color: initial;
}

a:hover {
    cursor: pointer;
    color: coral;
}

input {
    font-size: 1em;
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 5px;
    padding: 0.2em;
}

input:focus {
    border-color: coral;
    outline: none;
}

input:hover {
    cursor: text;
}

button {
    font-size: 1em;
    font-family: 'Chocolate Classical Sans', sans-serif;
    border-radius: 5px;
    padding: 0.2em;
}

button:hover {
    cursor: pointer;
    border-color: coral;
}

.rate-button {
    font-size: 2em;
    border: none;
    background-color: white;
    border-radius: 1em;
}

@media all and (max-width: 1024px) {
    .rate-button.profile {
        font-size: 1.5em;
    }
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;  
    appearance: none;
    font-size: 0.8em;
    font-family: 'Chocolate Classical Sans', sans-serif;
    padding: 0.2em;
    width: 20rem;
    text-align-last: center;
}

option {
    font-size: 0.5em;
}

small {
    font-size: 0.6em;
    color: gray;
    font-family: 'Ubuntu Mono', monospace;
}
