<div class="horizontal spread" style="padding: 2.5%;">
    <select name="media" id="media-select" onchange="on_medium_change()">
        <option value="Movie">Movies</option>
        <option value="Series">Series</option>
        <option value="AnimationMovie">Animation Movies</option>
        <option value="Anime">Animes</option>
        <option value="Book">Books</option>
    </select>
    <input placeholder="Search" id="search" style="width: 60%;"/>
    <a href="/" style="margin-right: 0.2em;">☰</a>
</div>
