<div style="display: flex; flex-direction: column; gap: 1em;">
    <div style="display: flex; justify-content: space-around; gap: 0.5em;">
    </div>
</div>
<style>
.rate-button {
    font-size: 2em;
    border: none;
    background-color: white;
    border-radius: 1em;
}

.skip-button {
    font-size: 1.2em;
    line-height: 1.5em;
    width: 60%;
    margin: auto;
    border-radius: 0.6em;
    border: 0;
    box-shadow: 8px 8px gray;
}

button.selected {
    background-color: coral;
}
</style>