<div class="vertical center" id="reco" style="height: 100%;">
    <div style="height: 100%;">
        <h3 id="title" style="margin-bottom: 0.5em;">Title</h3>
        <img id="picture" width="100%" height="80%" src="placeholder.jpg"/>
        <span>Match score: <span id="rating" style="font-weight: bold;"></span>%</span><br>
        <small id="synopsis" style="display: inline-block; line-height: 1.3em; padding-bottom: 10em; color: gray;">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
        </small>
    </div>
</div>
<div style="position: fixed; bottom: 2em; width: inherit;">
    <x-ratediv id="ratediv"></x-ratediv>
</div>
