<div class="vertical center" id="reco" style="height: 100%;">
    <div style="height: 100%;">
        <h3 id="title" style="margin-bottom: 0.5em; margin-top: 0;">Title</h3>
        <img id="picture" width="100%" height="50%" src="placeholder.jpg"/>
        <span>Match score: <span id="rating" style="font-weight: bold;"></span>%</span><br>
        <small id="synopsis" style="display: inline-block; line-height: 1.3em; padding-bottom: 8em; color: gray;">
            Synopsis unavailable
        </small>
    </div>
</div>
<x-ratediv id="ratediv" style="position: fixed; bottom: 2em; width: inherit;"></x-ratediv>
