<div class="vertical center" id="reco" style="height: 100%; width: 100%;">
    <div style="height: 100%;">
        <h3 id="title" style="margin-bottom: 0.5em;">Title</h3>
        <img id="picture" width="100%" height="80%" src="placeholder.jpg"/>
        <span>Match score: <span id="rating" style="font-weight: bold;"></span>%</span><br>
        <small id="synopsis" style="display: inline-block; line-height: 1.3em; padding-bottom: 15em;">Synopsis</small>
    </div>
    <div style="position: fixed; bottom: 1em; width: inherit;">
        <x-ratediv></x-ratediv>
    </div>
</div>
<style>

</style>